<section class="section section-aboutme" id="aboutme">
    <br class="container container-aboutme">
    <h2 class="visually-hidden">About me</h2>

    <ul class="content-list-aboutme">
        <li class="content-item-aboutme text">
            <h3 class="aboutme-title">
                "My job is to capture the

                <span class="span-functional">best moments</span>
                <!-- <span class="span-websites">websites</span> -->
                of your life that will remain not only in your memory.</br> </br>We will capture these moments in
                <span class="span-websites">photos and videos</span>, as well as in your
                <span class="span-functional">hearts</span>."
            </h3>
        </li>
        <li class="content-item-aboutme">
            <picture class="picture-aboutme">
                <source srcset="../img/imgaboutme/about_me_artem.jpg 1x,
                                ../img/imgaboutme/about_me_artem.jpg 2x" media="(min-width: 1440px)">
                <source srcset="../img/imgaboutme/about_me_artem.jpg 1x,
                                ../img/imgaboutme/about_me_artem.jpg 2x" media="(min-width: 768px)">
                <source srcset="../img/imgaboutme/about_me_artem.jpg 1x,
                                ../img/imgaboutme/about_me_artem.jpg 2x" media="(max-width: 767px)">
                <img src="../img/imgaboutme/about_me_artem.jpg" alt="My photo" class="aboutme-img">
            </picture>
        </li>
    </ul>

    <div class="accordion-aboutme">
        <ul class="accordion-container-aboutme">
            <li class="ac-aboutme">
                <h3 class="ac-header-aboutme">
                    About me
                    <button type="button" class="ac-trigger-aboutme">
                        <svg class="ac-icon-aboutme" width="18" height="18">
                            <use href="./img/imgaboutme/symbol-defs.svg#icon-arrow-down" class="ac-svg-aboutme">
                            </use>
                        </svg>
                    </button>
                </h3>
                <div class="ac-panel-aboutme ac-text-list">
                    <p class="ac-text-aboutme">
                        Welcome! I am a professional photographer whose passion is capturing life’s most unforgettable
                        moments. With a creative
                        approach to every photoshoot and videography project, I strive to transform your unique ideas
                        into captivating visual
                        stories. I remain calm and focused under pressure, ensuring that each session is as enjoyable as
                        it is productive. Open
                        and sincere communication is at the heart of my work—I believe that a genuine connection with my
                        clients brings out the
                        best in every shot. Photography isn’t just my profession; it’s my passion, and I am dedicated to
                        turning your vision
                        into reality.
                    </p>
                    <!-- <p class="ax-text-aboutme">
                        Able to work both independently and in a team. I can effectively cooperate with colleagues,
                        exchanging ideas and finding
                        optimal solutions. Professional maturity allows you to calmly cope with challenges and
                        stressful situations, while
                        maintaining a high quality of work.I am always looking for opportunities for
                        self-improvement. I actively study new
                        technologies and practices to stay abreast of the latest innovations. I have a strong
                        understanding of various
                        programming languages, frameworks and architectural concepts that allow me to create
                        efficient and scalable software.
                    </p> -->
                </div>
            </li>

            <li class="ac-aboutme">
                <h3 class="ac-header-aboutme">
                    Role
                    <button type="button" class="ac-trigger-aboutme">
                        <svg class="ac-icon-aboutme" width="18" height="18">
                            <use href="./img/imgaboutme/symbol-defs.svg#icon-arrow-down" class="ac-svg-aboutme">
                            </use>
                        </svg>
                    </button>
                </h3>
                <ul class="ac-panel-aboutme ac-role-list">
                    <li class="ac-text-aboutme">
                        Photographer
                    </li>
                    <li class="ac-text-aboutme">
                        Videographer
                    </li>
                    <li class="ac-text-aboutme">
                        Director
                    </li>
                    <li class="ac-text-aboutme">
                        Screenwriter
                    </li>
                    <li class="ac-text-aboutme">
                        Cinematographer
                    </li>
                    <li class="ac-text-aboutme">
                        Editor
                    </li>
                </ul>
            </li>

            <li class="ac-aboutme">
                <h3 class="ac-header-aboutme">
                    Skills
                    <button type="button" class="ac-trigger-aboutme">
                        <svg class="ac-icon-aboutme" width="18" height="18">
                            <use href="./img/imgaboutme/symbol-defs.svg#icon-arrow-down" class="ac-svg-aboutme">
                            </use>
                        </svg>
                    </button>
                </h3>
                <ul class="ac-panel-aboutme ac-education-list">
                    <li class="ac-text-aboutme">
                        <p>Adobe Photoshop</p>
                    </li>
                    <li class="ac-text-aboutme">
                        <p>Adobe Illustrator</p>
                    </li>
                    <li class="ac-text-aboutme">
                        <p>Adobe Premiere</p>
                    </li>
                    <li class="ac-text-aboutme">
                        <p>Adobe Lightroom</p>
                    </li>
                    <li class="ac-text-aboutme">
                        <p>Adobe After Effects</p>
                </ul>
            </li>
        </ul>
    </div>

    <div class="swiper-container-aboutme">
        <div class="swiper-aboutme">
            <ul class="swiper-wrapper-aboutme">
                <li class="swiper-slide-aboutme">
                    <div class="swiper-slide-text-aboutme">Photographer</div>
                </li>
                <li class="swiper-slide-aboutme">
                    <div class="swiper-slide-text-aboutme">Screenwriter</div>
                </li>
                <li class="swiper-slide-aboutme">
                    <div class="swiper-slide-text-aboutme">Director</div>
                </li>
                <li class="swiper-slide-aboutme">
                    <div class="swiper-slide-text-aboutme">Videographer</div>
                </li>
                <li class="swiper-slide-aboutme">
                    <div class="swiper-slide-text-aboutme">Editor</div>
                </li>
                <li class="swiper-slide-aboutme">
                    <div class="swiper-slide-text-aboutme">Soft skills</div>
                </li>
                <li class="swiper-slide-aboutme">
                    <div class="swiper-slide-text-aboutme">Photographer</div>
                </li>
                <li class="swiper-slide-aboutme">
                    <div class="swiper-slide-text-aboutme">Screenwriter</div>
                </li>
                <li class="swiper-slide-aboutme">
                    <div class="swiper-slide-text-aboutme">Director</div>
                </li>
                <li class="swiper-slide-aboutme">
                    <div class="swiper-slide-text-aboutme">Videographer</div>
                </li>
                <li class="swiper-slide-aboutme">
                    <div class="swiper-slide-text-aboutme">Editor</div>
                </li>
                <li class="swiper-slide-aboutme">
                    <div class="swiper-slide-text-aboutme">Soft skills</div>
                </li>
            </ul>
        </div>
        <button class="swiper-button-next-aboutme">
            <svg class="swiper-icon-aboutme">
                <use href="./img/imgaboutme/symbol-defs.svg#icon-arrow-right" class="icon-aboutme"></use>
            </svg>
        </button>
    </div>
    </div>
</section>