<section class="animate-section section" id="covers">
  <div class="container-covers container">
    <h2 class="title-covers">Covers</h2>
    <div class="content">
      <div class="marquee">
        <ul class="marquee-inner">
          <li class="marquee-line">
            <div>
              <picture>
                <source srcset="
                    ../img/imgprojects/natural_photo.jpg    1x,
                    ../img/imgprojects/natural_photo.jpg 2x
                  " media="(min-width: 1440px)" />
                <source srcset="
                    ../img/imgprojects/natural_photo.jpg    1x,
                    ../img/imgprojects/natural_photo.jpg 2x
                  " media="(min-width: 768px)" />
                <source srcset="
                    ../img/imgprojects/natural_photo.jpg    1x,
                    ../img/imgprojects/natural_photo.jpg 2x
                  " media="(max-width: 767px)" />
                <img src="../img/imgprojects/natural_photo.jpg " alt="Slogan" width="20" height="314" class="img-mob" />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source srcset="
                              ../img/imgprojects/street_photo.jpg    1x,
                              ../img/imgprojects/street_photo.jpg 2x
                            " media="(min-width: 1440px)" />
                <source srcset="
                              ../img/imgprojects/street_photo.jpg    1x,
                              ../img/imgprojects/street_photo.jpg 2x
                            " media="(min-width: 768px)" />
                <source srcset="
                              ../img/imgprojects/street_photo.jpg    1x,
                              ../img/imgprojects/street_photo.jpg 2x
                            " media="(max-width: 767px)" />
                <img src="../img/imgprojects/street_photo.jpg " alt="Slogan" width="20" height="314" class="img-mob" />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source srcset="
                              ../img/imgprojects/individual_photo.jpg    1x,
                              ../img/imgprojects/individual_photo.jpg 2x
                            " media="(min-width: 1440px)" />
                <source srcset="
                              ../img/imgprojects/individual_photo.jpg    1x,
                              ../img/imgprojects/individual_photo.jpg 2x
                            " media="(min-width: 768px)" />
                <source srcset="
                              ../img/imgprojects/individual_photo.jpg    1x,
                              ../img/imgprojects/individual_photo.jpg 2x
                            " media="(max-width: 767px)" />
                <img src="../img/imgprojects/individual_photo.jpg " alt="Slogan" width="20" height="314"
                  class="img-mob" />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source srcset="
                            ../img/imgprojects/family_photo.jpg    1x,
                            ../img/imgprojects/family_photo.jpg 2x
                          " media="(min-width: 1440px)" />
                <source srcset="
                            ../img/imgprojects/family_photo.jpg    1x,
                            ../img/imgprojects/family_photo.jpg 2x
                          " media="(min-width: 768px)" />
                <source srcset="
                            ../img/imgprojects/family_photo.jpg    1x,
                            ../img/imgprojects/family_photo.jpg 2x
                          " media="(max-width: 767px)" />
                <img src="../img/imgprojects/family_photo.jpg " alt="Slogan" width="544" height="314" class="img-mob" />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source srcset="
                            ../img/imgprojects/010.jpg    1x,
                            ../img/imgprojects/010.jpg 2x
                          " media="(min-width: 1440px)" />
                <source srcset="
                            ../img/imgprojects/010.jpg    1x,
                            ../img/imgprojects/010.jpg 2x
                          " media="(min-width: 768px)" />
                <source srcset="
                            ../img/imgprojects/010.jpg    1x,
                            ../img/imgprojects/010.jpg 2x
                          " media="(max-width: 767px)" />
                <img src="../img/imgprojects/010.jpg " alt="Slogan" width="544" height="314" class="img-mob" />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source srcset="
                              ../img/imgprojects/012.jpg    1x,
                              ../img/imgprojects/012.jpg 2x
                            " media="(min-width: 1440px)" />
                <source srcset="
                              ../img/imgprojects/012.jpg    1x,
                              ../img/imgprojects/012.jpg 2x
                            " media="(min-width: 768px)" />
                <source srcset="
                              ../img/imgprojects/012.jpg    1x,
                              ../img/imgprojects/012.jpg 2x
                            " media="(max-width: 767px)" />
                <img src="../img/imgprojects/012.jpg " alt="Slogan" width="544" height="314" class="img-mob" />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source srcset="
                              ../img/imgprojects/011.jpg    1x,
                              ../img/imgprojects/011.jpg 2x
                            " media="(min-width: 1440px)" />
                <source srcset="
                              ../img/imgprojects/011.jpg    1x,
                              ../img/imgprojects/011.jpg 2x
                            " media="(min-width: 768px)" />
                <source srcset="
                              ../img/imgprojects/011.jpg    1x,
                              ../img/imgprojects/011.jpg 2x
                            " media="(max-width: 767px)" />
                <img src="../img/imgprojects/011.jpg " alt="Slogan" width="544" height="314" class="img-mob" />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source srcset="
                              ../img/imgprojects/009.jpg    1x,
                              ../img/imgprojects/009.jpg 2x
                            " media="(min-width: 1440px)" />
                <source srcset="
                              ../img/imgprojects/009.jpg    1x,
                              ../img/imgprojects/009.jpg 2x
                            " media="(min-width: 768px)" />
                <source srcset="
                              ../img/imgprojects/009.jpg    1x,
                              ../img/imgprojects/009.jpg 2x
                            " media="(max-width: 767px)" />
                <img src="../img/imgprojects/009.jpg " alt="Slogan" width="544" height="314" class="img-mob" />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source srcset="
                              ../img/imgprojects/008.jpg    1x,
                              ../img/imgprojects/008.jpg 2x
                            " media="(min-width: 1440px)" />
                <source srcset="
                              ../img/imgprojects/008.jpg    1x,
                              ../img/imgprojects/008.jpg 2x
                            " media="(min-width: 768px)" />
                <source srcset="
                              ../img/imgprojects/008.jpg    1x,
                              ../img/imgprojects/008.jpg 2x
                            " media="(max-width: 767px)" />
                <img src="../img/imgprojects/008.jpg " alt="Slogan" width="544" height="314" class="img-mob" />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source srcset="
                              ../img/imgprojects/007.jpg    1x,
                              ../img/imgprojects/007.jpg 2x
                            " media="(min-width: 1440px)" />
                <source srcset="
                              ../img/imgprojects/007.jpg    1x,
                              ../img/imgprojects/007.jpg 2x
                            " media="(min-width: 768px)" />
                <source srcset="
                              ../img/imgprojects/007.jpg    1x,
                              ../img/imgprojects/007.jpg 2x
                            " media="(max-width: 767px)" />
                <img src="../img/imgprojects/007.jpg " alt="Slogan" width="544" height="314" class="img-mob" />
              </picture>
            </div>
          </li>
        </ul>
        <ul class="marquee-inner">
          <li class="marquee-line">
            <div>
              <picture>
                <source srcset="
                              ../img/imgprojects/006.jpg    1x,
                              ../img/imgprojects/006.jpg 2x
                            " media="(min-width: 1440px)" />
                <source srcset="
                              ../img/imgprojects/006.jpg    1x,
                              ../img/imgprojects/006.jpg 2x
                            " media="(min-width: 768px)" />
                <source srcset="
                              ../img/imgprojects/006.jpg    1x,
                              ../img/imgprojects/006.jpg 2x
                            " media="(max-width: 767px)" />
                <img src="../img/imgprojects/006.jpg " alt="Slogan" width="544" height="314" class="img-mob" />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source srcset="
                              ../img/imgprojects/005.jpg    1x,
                              ../img/imgprojects/005.jpg 2x
                            " media="(min-width: 1440px)" />
                <source srcset="
                              ../img/imgprojects/005.jpg    1x,
                              ../img/imgprojects/005.jpg 2x
                            " media="(min-width: 768px)" />
                <source srcset="
                              ../img/imgprojects/005.jpg    1x,
                              ../img/imgprojects/005.jpg 2x
                            " media="(max-width: 767px)" />
                <img src="../img/imgprojects/005.jpg " alt="Slogan" width="544" height="314" class="img-mob" />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source srcset="
                              ../img/imgprojects/004.jpg    1x,
                              ../img/imgprojects/004.jpg 2x
                            " media="(min-width: 1440px)" />
                <source srcset="
                              ../img/imgprojects/004.jpg    1x,
                              ../img/imgprojects/004.jpg 2x
                            " media="(min-width: 768px)" />
                <source srcset="
                              ../img/imgprojects/004.jpg    1x,
                              ../img/imgprojects/004.jpg 2x
                            " media="(max-width: 767px)" />
                <img src="../img/imgprojects/004.jpg " alt="Slogan" width="544" height="314" class="img-mob" />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source srcset="
                              ../img/imgprojects/003.jpg    1x,
                              ../img/imgprojects/003.jpg 2x
                            " media="(min-width: 1440px)" />
                <source srcset="
                              ../img/imgprojects/003.jpg    1x,
                              ../img/imgprojects/003.jpg 2x
                            " media="(min-width: 768px)" />
                <source srcset="
                              ../img/imgprojects/003.jpg    1x,
                              ../img/imgprojects/003.jpg 2x
                            " media="(max-width: 767px)" />
                <img src="../img/imgprojects/003.jpg " alt="Slogan" width="544" height="314" class="img-mob" />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source srcset="
                              ../img/imgprojects/002.jpg    1x,
                              ../img/imgprojects/002.jpg 2x
                            " media="(min-width: 1440px)" />
                <source srcset="
                              ../img/imgprojects/002.jpg    1x,
                              ../img/imgprojects/002.jpg 2x
                            " media="(min-width: 768px)" />
                <source srcset="
                              ../img/imgprojects/002.jpg    1x,
                              ../img/imgprojects/002.jpg 2x
                            " media="(max-width: 767px)" />
                <img src="../img/imgprojects/002.jpg " alt="Slogan" width="544" height="314" class="img-mob" />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source srcset="
                              ../img/imgprojects/001.jpg    1x,
                              ../img/imgprojects/001.jpg 2x
                            " media="(min-width: 1440px)" />
                <source srcset="
                              ../img/imgprojects/001.jpg    1x,
                              ../img/imgprojects/001.jpg 2x
                            " media="(min-width: 768px)" />
                <source srcset="
                              ../img/imgprojects/001.jpg    1x,
                              ../img/imgprojects/001.jpg 2x
                            " media="(max-width: 767px)" />
                <img src="../img/imgprojects/001.jpg " alt="Slogan" width="544" height="314" class="img-mob" />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source srcset="
                              ../img/imgprojects/013.jpg    1x,
                              ../img/imgprojects/013.jpg 2x
                            " media="(min-width: 1440px)" />
                <source srcset="
                              ../img/imgprojects/013.jpg    1x,
                              ../img/imgprojects/013.jpg 2x
                            " media="(min-width: 768px)" />
                <source srcset="
                              ../img/imgprojects/013.jpg    1x,
                              ../img/imgprojects/013.jpg 2x
                            " media="(max-width: 767px)" />
                <img src="../img/imgprojects/013.jpg " alt="Slogan" width="544" height="314" class="img-mob" />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source srcset="
                            ../img/imgprojects/014.jpg    1x,
                            ../img/imgprojects/014.jpg 2x
                          " media="(min-width: 1440px)" />
                <source srcset="
                            ../img/imgprojects/014.jpg    1x,
                            ../img/imgprojects/014.jpg 2x
                          " media="(min-width: 768px)" />
                <source srcset="
                            ../img/imgprojects/014.jpgg    1x,
                            ../img/imgprojects/014.jpg 2x
                          " media="(max-width: 767px)" />
                <img src="../img/imgprojects/014.jpg " alt="Slogan" width="544" height="314" class="img-mob" />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source srcset="
                              ../img/imgprojects/015.jpg    1x,
                              ../img/imgprojects/015.jpg 2x
                            " media="(min-width: 1440px)" />
                <source srcset="
                              ../img/imgprojects/015.jpg    1x,
                              ../img/imgprojects/015.jpg 2x
                            " media="(min-width: 768px)" />
                <source srcset="
                              ../img/imgprojects/015.jpg    1x,
                              ../img/imgprojects/015.jpg 2x
                            " media="(max-width: 767px)" />
                <img src="../img/imgprojects/015.jpg " alt="Slogan" width="544" height="314" class="img-mob" />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source srcset="
                              ../img/imgprojects/016.jpg    1x,
                              ../img/imgprojects/016.jpg 2x
                            " media="(min-width: 1440px)" />
                <source srcset="
                              ../img/imgprojects/016.jpg    1x,
                              ../img/imgprojects/016.jpg 2x
                            " media="(min-width: 768px)" />
                <source srcset="
                              ../img/imgprojects/016.jpg    1x,
                              ../img/imgprojects/016.jpg 2x
                            " media="(max-width: 767px)" />
                <img src="../img/imgprojects/016.jpg " alt="Slogan" width="544" height="314" class="img-mob" />
              </picture>
            </div>
          </li>
        </ul>
        <ul class="marquee-inner">
          <li class="marquee-line">
            <div>
              <picture>
                <source srcset="
                              ../img/imgprojects/017.jpg    1x,
                              ../img/imgprojects/017.jpg 2x
                            " media="(min-width: 1440px)" />
                <source srcset="
                              ../img/imgprojects/017.jpg    1x,
                              ../img/imgprojects/017.jpg 2x
                            " media="(min-width: 768px)" />
                <source srcset="
                              ../img/imgprojects/017.jpg    1x,
                              ../img/imgprojects/017.jpg 2x
                            " media="(max-width: 767px)" />
                <img src="../img/imgprojects/017.jpg " alt="Slogan" width="544" height="314" class="img-mob" />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source srcset="
                              ../img/imgprojects/018.jpg    1x,
                              ../img/imgprojects/018.jpg 2x
                            " media="(min-width: 1440px)" />
                <source srcset="
                              ../img/imgprojects/018.jpg    1x,
                              ../img/imgprojects/018.jpg 2x
                            " media="(min-width: 768px)" />
                <source srcset="
                              ../img/imgprojects/018.jpg    1x,
                              ../img/imgprojects/018.jpg 2x
                            " media="(max-width: 767px)" />
                <img src="../img/imgprojects/018.jpg " alt="Slogan" width="544" height="314" class="img-mob" />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source srcset="
                              ../img/imgprojects/019.jpg    1x,
                              ../img/imgprojects/019.jpg 2x
                            " media="(min-width: 1440px)" />
                <source srcset="
                              ../img/imgprojects/019.jpg    1x,
                              ../img/imgprojects/019.jpg 2x
                            " media="(min-width: 768px)" />
                <source srcset="
                              ../img/imgprojects/019.jpg    1x,
                              ../img/imgprojects/019.jpg 2x
                            " media="(max-width: 767px)" />
                <img src="../img/imgprojects/019.jpg " alt="Slogan" width="544" height="314" class="img-mob" />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source srcset="
                              ../img/imgprojects/020.jpg    1x,
                              ../img/imgprojects/020.jpg 2x
                            " media="(min-width: 1440px)" />
                <source srcset="
                              ../img/imgprojects/020.jpg    1x,
                              ../img/imgprojects/020.jpg 2x
                            " media="(min-width: 768px)" />
                <source srcset="
                              ../img/imgprojects/020.jpg    1x,
                              ../img/imgprojects/020.jpg 2x
                            " media="(max-width: 767px)" />
                <img src="../img/imgprojects/020.jpg " alt="Slogan" width="544" height="314" class="img-mob" />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source srcset="
                              ../img/imgprojects/011.jpg    1x,
                              ../img/imgprojects/011.jpg 2x
                            " media="(min-width: 1440px)" />
                <source srcset="
                              ../img/imgprojects/011.jpg    1x,
                              ../img/imgprojects/011.jpg 2x
                            " media="(min-width: 768px)" />
                <source srcset="
                              ../img/imgprojects/011.jpg    1x,
                              ../img/imgprojects/011.jpg 2x
                            " media="(max-width: 767px)" />
                <img src="../img/imgprojects/011.jpg " alt="Slogan" width="544" height="314" class="img-mob" />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source srcset="
                              ../img/imgprojects/007.jpg    1x,
                              ../img/imgprojects/007.jpg 2x
                            " media="(min-width: 1440px)" />
                <source srcset="
                              ../img/imgprojects/007.jpg    1x,
                              ../img/imgprojects/007.jpg 2x
                            " media="(min-width: 768px)" />
                <source srcset="
                              ../img/imgprojects/007.jpg    1x,
                              ../img/imgprojects/007.jpg 2x
                            " media="(max-width: 767px)" />
                <img src="../img/imgprojects/007.jpg " alt="Slogan" width="544" height="314" class="img-mob" />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source srcset="
                              ../img/imgprojects/individual_photo.jpg    1x,
                              ../img/imgprojects/individual_photo.jpg 2x
                            " media="(min-width: 1440px)" />
                <source srcset="
                              ../img/imgprojects/individual_photo.jpg    1x,
                              ../img/imgprojects/individual_photo.jpg 2x
                            " media="(min-width: 768px)" />
                <source srcset="
                              ../img/imgprojects/individual_photo.jpg    1x,
                              ../img/imgprojects/individual_photo.jpg 2x
                            " media="(max-width: 767px)" />
                <img src="../img/imgprojects/individual_photo.jpg " alt="Slogan" width="544" height="314"
                  class="img-mob" />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source srcset="
                              ../img/imgprojects/family_photo.jpg    1x,
                              ../img/imgprojects/family_photo.jpg 2x
                            " media="(min-width: 1440px)" />
                <source srcset="
                              ../img/imgprojects/family_photo.jpg    1x,
                              ../img/imgprojects/family_photo.jpg 2x
                            " media="(min-width: 768px)" />
                <source srcset="
                              ../img/imgprojects/family_photo.jpg    1x,
                              ../img/imgprojects/family_photo.jpg 2x
                            " media="(max-width: 767px)" />
                <img src="../img/imgprojects/family_photo.jpg " alt="Slogan" width="544" height="314" class="img-mob" />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source srcset="
                              ../img/imgprojects/006.jpg    1x,
                              ../img/imgprojects/006.jpg 2x
                            " media="(min-width: 1440px)" />
                <source srcset="
                              ../img/imgprojects/006.jpg    1x,
                              ../img/imgprojects/006.jpg 2x
                            " media="(min-width: 768px)" />
                <source srcset="
                              ../img/imgprojects/006.jpg    1x,
                              ../img/imgprojects/006.jpg 2x
                            " media="(max-width: 767px)" />
                <img src="../img/imgprojects/006.jpg " alt="Slogan" width="544" height="314" class="img-mob" />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source srcset="
                              ../img/imgprojects/005.jpg    1x,
                              ../img/imgprojects/005.jpg 2x
                            " media="(min-width: 1440px)" />
                <source srcset="
                              ../img/imgprojects/005.jpg    1x,
                              ../img/imgprojects/005.jpg 2x
                            " media="(min-width: 768px)" />
                <source srcset="
                              ../img/imgprojects/005.jpg    1x,
                              ../img/imgprojects/005.jpg 2x
                            " media="(max-width: 767px)" />
                <img src="../img/imgprojects/005.jpg " alt="Slogan" width="544" height="314" class="img-mob" />
              </picture>
            </div>
          </li>
        </ul>
        <ul class="marquee-inner">
          <li class="marquee-line">
            <div>
              <picture>
                <source srcset="
                              ../img/imgprojects/012.jpg    1x,
                              ../img/imgprojects/012.jpg 2x
                            " media="(min-width: 1440px)" />
                <source srcset="
                              ../img/imgprojects/012.jpg    1x,
                              ../img/imgprojects/012.jpg 2x
                            " media="(min-width: 768px)" />
                <source srcset="
                              ../img/imgprojects/012.jpg    1x,
                              ../img/imgprojects/012.jpg 2x
                            " media="(max-width: 767px)" />
                <img src="../img/imgprojects/012.jpg " alt="Slogan" width="544" height="314" class="img-mob" />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source srcset="
                              ../img/imgprojects/014.jpg    1x,
                              ../img/imgprojects/014.jpg 2x
                            " media="(min-width: 1440px)" />
                <source srcset="
                              ../img/imgprojects/014.jpg    1x,
                              ../img/imgprojects/014.jpg 2x
                            " media="(min-width: 768px)" />
                <source srcset="
                              ../img/imgprojects/014.jpg    1x,
                              ../img/imgprojects/014.jpg 2x
                            " media="(max-width: 767px)" />
                <img src="../img/imgprojects/014.jpg " alt="Slogan" width="544" height="314" class="img-mob" />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source srcset="
                              ../img/imgprojects/015.jpg    1x,
                              ../img/imgprojects/015.jpg 2x
                            " media="(min-width: 1440px)" />
                <source srcset="
                              ../img/imgprojects/015.jpg    1x,
                              ../img/imgprojects/015.jpg 2x
                            " media="(min-width: 768px)" />
                <source srcset="
                              ../img/imgprojects/015.jpg    1x,
                              ../img/imgprojects/015.jpg 2x
                            " media="(max-width: 767px)" />
                <img src="../img/imgprojects/015.jpg " alt="Slogan" width="544" height="314" class="img-mob" />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source srcset="
                              ../img/imgprojects/013.jpg    1x,
                              ../img/imgprojects/013.jpg 2x
                            " media="(min-width: 1440px)" />
                <source srcset="
                              ../img/imgprojects/013.jpg    1x,
                              ../img/imgprojects/013.jpg 2x
                            " media="(min-width: 768px)" />
                <source srcset="
                              ../img/imgprojects/013.jpg    1x,
                              ../img/imgprojects/013.jpg 2x
                            " media="(max-width: 767px)" />
                <img src="../img/imgprojects/013.jpg " alt="Slogan" width="544" height="314" class="img-mob" />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source srcset="
                              ../img/imgprojects/002.jpg    1x,
                              ../img/imgprojects/002.jpg 2x
                            " media="(min-width: 1440px)" />
                <source srcset="
                              ../img/imgprojects/002.jpg    1x,
                              ../img/imgprojects/002.jpg 2x
                            " media="(min-width: 768px)" />
                <source srcset="
                              ../img/imgprojects/002.jpg    1x,
                              ../img/imgprojects/002.jpg 2x
                            " media="(max-width: 767px)" />
                <img src="../img/imgprojects/002.jpg " alt="Slogan" width="544" height="314" class="img-mob" />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source srcset="
                              ../img/imgprojects/natural_photo.jpg    1x,
                              ../img/imgprojects/natural_photo.jpg 2x
                            " media="(min-width: 1440px)" />
                <source srcset="
                              ../img/imgprojects/natural_photo.jpg    1x,
                              ../img/imgprojects/natural_photo.jpg 2x
                            " media="(min-width: 768px)" />
                <source srcset="
                              ../img/imgprojects/natural_photo.jpg    1x,
                              ../img/imgprojects/natural_photo.jpg 2x
                            " media="(max-width: 767px)" />
                <img src="../img/imgprojects/natural_photo.jpg " alt="Slogan" width="544" height="314"
                  class="img-mob" />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source srcset="
                              ../img/imgprojects/natural_photo.jpg    1x,
                              ../img/imgprojects/natural_photo.jpg 2x
                            " media="(min-width: 1440px)" />
                <source srcset="
                              ../img/imgprojects/natural_photo.jpg    1x,
                              ../img/imgprojects/natural_photo.jpg 2x
                            " media="(min-width: 768px)" />
                <source srcset="
                              ../img/imgprojects/natural_photo.jpg    1x,
                              ../img/imgprojects/natural_photo.jpg 2x
                            " media="(max-width: 767px)" />
                <img src="../img/imgprojects/natural_photo.jpg " alt="Slogan" width="544" height="314"
                  class="img-mob" />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source srcset="
                              ../img/imgprojects/natural_photo.jpg    1x,
                              ../img/imgprojects/natural_photo.jpg 2x
                            " media="(min-width: 1440px)" />
                <source srcset="
                              ../img/imgprojects/natural_photo.jpg    1x,
                              ../img/imgprojects/natural_photo.jpg 2x
                            " media="(min-width: 768px)" />
                <source srcset="
                              ../img/imgprojects/natural_photo.jpg    1x,
                              ../img/imgprojects/natural_photo.jpg 2x
                            " media="(max-width: 767px)" />
                <img src="../img/imgprojects/natural_photo.jpg " alt="Slogan" width="544" height="314"
                  class="img-mob" />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source srcset="
                              ../img/imgprojects/natural_photo.jpg    1x,
                              ../img/imgprojects/natural_photo.jpg 2x
                            " media="(min-width: 1440px)" />
                <source srcset="
                              ../img/imgprojects/natural_photo.jpg    1x,
                              ../img/imgprojects/natural_photo.jpg 2x
                            " media="(min-width: 768px)" />
                <source srcset="
                              ../img/imgprojects/natural_photo.jpg    1x,
                              ../img/imgprojects/natural_photo.jpg 2x
                            " media="(max-width: 767px)" />
                <img src="../img/imgprojects/natural_photo.jpg " alt="Slogan" width="544" height="314"
                  class="img-mob" />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source srcset="
                              ../img/imgprojects/natural_photo.jpg    1x,
                              ../img/imgprojects/natural_photo.jpg 2x
                            " media="(min-width: 1440px)" />
                <source srcset="
                              ../img/imgprojects/natural_photo.jpg    1x,
                              ../img/imgprojects/natural_photo.jpg 2x
                            " media="(min-width: 768px)" />
                <source srcset="
                              ../img/imgprojects/natural_photo.jpg    1x,
                              ../img/imgprojects/natural_photo.jpg 2x
                            " media="(max-width: 767px)" />
                <img src="../img/imgprojects/natural_photo.jpg " alt="Slogan" width="544" height="314"
                  class="img-mob" />
              </picture>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>