<section class="section hero" id="hero">
  <div class="container">
    <h1 class="hero-title" data-aos="fade-right">
      Hello <br />
      I’m Photographer <br />
      Artem Karpus.
    </h1>
    <div class="hero-social" data-aos="fade-left">
      <ul class="hero-list">
        <li class="hero-item">
          <a href="https://www.instagram.com/gel.dla.dushy/" class="social-link" title="Link to Instagram"
            target="_blank" rel="noopener noreferrer">IG</a>
        </li>
        <li class="hero-item">
          <a href="https://www.facebook.com/artem.donald" class="social-link" title="Link to Facebook" target="_blank"
            rel="noopener noreferrer">FB</a>
        </li>
        <li class="hero-item">
          <a href="https://www.youtube.com/channel/UCrPFE-xEy8RZSFHDDUM4aSg" class="social-link" title="Link to YouTube"
            target="_blank" rel="noopener noreferrer">YT</a>
        </li>
      </ul>
      <div class="mail">
        <a href="mailto:lloydjefferson@gmail.com" class="mail-link" title="Send email"
          rel="noopener noreferrer">artem.karpus@gmail.com</a>
      </div>
    </div>
  </div>
</section>