<section class="section portfolio-section" id="projects">
    <div class="portfolio container">
        <h2 class="portfolio-title section-heading">PORTFOLIO</h2>
        <div class="swiper project-swiper-container">
            <ul class="swiper-wrapper project-swiper-wrapper">
                <!-- 1 Slide -->
                <li class="swiper-slide project-swiper-slide portfolio-slide-1">
                    <div class="portfolio-info">
                        <ul class="portfolio-tags-list">
                            <li class="portfolio-tag">
                                <p class="portfolio-tag-text section-description">#Adobe Photoshop</p>
                            </li>
                            <li class="portfolio-tag">
                                <p class="portfolio-tag-text section-description">#Adobe Lightroom</p>
                            </li>
                            <!-- <li class="portfolio-tag">
                                <p class="portfolio-tag-text section-description">#node js</p>
                            </li>
                            <li class="portfolio-tag">
                                <p class="portfolio-tag-text section-description">#git</p>
                            </li> -->
                        </ul>
                        <h3 class="portfolio-name">
                            Family photography <br />Borders: Ideas, <br />Technologies,
                            Innovations
                        </h3>
                        <a href="https://www.instagram.com/gel.dla.dushy/" class="portfolio-link-button accent-red"
                            target="_blank">See other</a>
                    </div>
                    <div class="portfolio-visual">
                        <picture>
                            <source
                                srcset="../img/imgprojects/family_photo.jpg 1x, ../img/imgprojects/family_photo.jpg 2x"
                                media="(min-width: 768px)" />
                            <source
                                srcset="../img/imgprojects/family_photo.jpg 1x, ../img/imgprojects/family_photo.jpg 2x"
                                media="(max-width: 767px)" />
                            <img class="portfolio-image" src="../img/imgprojects/family_photo.jpg" alt="Project 1"
                                loading="lazy" width="311" height="195" />
                        </picture>
                    </div>
                </li>
                <!-- 2 Slide -->
                <li class="swiper-slide project-swiper-slide portfolio-slide-2">
                    <div class="portfolio-info">
                        <ul class="portfolio-tags-list">
                            <li class="portfolio-tag">
                                <p class="portfolio-tag-text section-description">#Adobe Photoshop</p>
                            </li>
                            <li class="portfolio-tag">
                                <p class="portfolio-tag-text section-description">#Adobe Lightroom</p>
                            </li>
                            <!-- <li class="portfolio-tag">
                                <p class="portfolio-tag-text section-description">#node js</p>
                            </li>
                            <li class="portfolio-tag">
                                <p class="portfolio-tag-text section-description">#git</p>
                            </li> -->
                        </ul>
                        <h3 class="portfolio-name">
                            Individual photography <br />Borders: Ideas, <br />Technologies,
                            Innovations
                        </h3>
                        <a href="https://www.instagram.com/gel.dla.dushy/" class="portfolio-link-button accent-red"
                            target="_blank">See other</a>
                    </div>
                    <div class="portfolio-visual">
                        <picture>
                            <source
                                srcset="../img/imgprojects/individual_photo.jpg 1x, ../img/imgprojects/individual_photo.jpg 2x"
                                media="(min-width: 768px)" />
                            <source
                                srcset="../img/imgprojects/individual_photo.jpg 1x, ../img/imgprojects/individual_photo.jpg 2x"
                                media="(max-width: 767px)" />
                            <img class="portfolio-image" src="./img/imgprojects/individual_photo.jpg" alt="Project 2"
                                loading="lazy" width="311" height="195" />
                        </picture>
                    </div>
                </li>
                <!-- 3 Slide -->
                <li class="swiper-slide project-swiper-slide portfolio-slide-3">
                    <div class="portfolio-info">
                        <ul class="portfolio-tags-list">
                            <li class="portfolio-tag">
                                <p class="portfolio-tag-text section-description">#Adobe Photoshop</p>
                            </li>
                            <li class="portfolio-tag">
                                <p class="portfolio-tag-text section-description">#Adobe Lightroom</p>
                            </li>
                            <!-- <li class="portfolio-tag">
                                <p class="portfolio-tag-text section-description">#node js</p>
                            </li>
                            <li class="portfolio-tag">
                                <p class="portfolio-tag-text section-description">#git</p>
                            </li> -->
                        </ul>
                        <h3 class="portfolio-name">
                            Bussiness photography <br />Borders: Ideas, <br />Technologies,
                            Innovations
                        </h3>
                        <a href="https://www.instagram.com/gel.dla.dushy/" class="portfolio-link-button accent-red"
                            target="_blank">See other</a>
                    </div>
                    <div class="portfolio-visual">
                        <picture>
                            <source
                                srcset="../img/imgprojects/photo_of_products.jpg 1x, ../img/imgprojects/photo_of_products.jpg 2x"
                                media="(min-width: 768px)" />
                            <source
                                srcset="../img/imgprojects/photo_of_products.jpg 1x, ../img/imgprojects/photo_of_products.jpg 2x"
                                media="(max-width: 767px)" />
                            <img class="portfolio-image" src="../img/imgprojects/photo_of_products.jpg" alt="Project 3"
                                loading="lazy" width="311" height="195" />
                        </picture>
                    </div>
                </li>
                <!-- 4 Slide -->
                <li class="swiper-slide project-swiper-slide portfolio-slide-3">
                    <div class="portfolio-info">
                        <ul class="portfolio-tags-list">
                            <li class="portfolio-tag">
                                <p class="portfolio-tag-text section-description">#Adobe Photoshop</p>
                            </li>
                            <li class="portfolio-tag">
                                <p class="portfolio-tag-text section-description">#Adobe Lightroom</p>
                            </li>
                            <!-- <li class="portfolio-tag">
                                                <p class="portfolio-tag-text section-description">#node js</p>
                                            </li>
                                            <li class="portfolio-tag">
                                                <p class="portfolio-tag-text section-description">#git</p>
                                            </li> -->
                        </ul>
                        <h3 class="portfolio-name">
                            Natural photography <br />Borders: Ideas, <br />Technologies,
                            Innovations
                        </h3>
                        <a href="https://www.instagram.com/gel.dla.dushy/" class="portfolio-link-button accent-red"
                            target="_blank">See
                            other</a>
                    </div>
                    <div class="portfolio-visual">
                        <picture>
                            <source
                                srcset="../img/imgprojects/natural_photo.jpg 1x, ../img/imgprojects/natural_photo.jpg 2x"
                                media="(min-width: 768px)" />
                            <source
                                srcset="../img/imgprojects/natural_photo.jpg 1x, ../img/imgprojects/natural_photo.jpg 2x"
                                media="(max-width: 767px)" />
                            <img class="portfolio-image" src="../img/imgprojects/natural_photo.jpg" alt="Project 4"
                                loading="lazy" width="311" height="195" />
                        </picture>
                    </div>
                </li>
                <!-- 5 Slide -->
                <li class="swiper-slide project-swiper-slide portfolio-slide-3">
                    <div class="portfolio-info">
                        <ul class="portfolio-tags-list">
                            <li class="portfolio-tag">
                                <p class="portfolio-tag-text section-description">#Adobe Photoshop</p>
                            </li>
                            <li class="portfolio-tag">
                                <p class="portfolio-tag-text section-description">#Adobe Lightroom</p>
                            </li>
                            <!-- <li class="portfolio-tag">
                                                                <p class="portfolio-tag-text section-description">#node js</p>
                                                            </li>
                                                            <li class="portfolio-tag">
                                                                <p class="portfolio-tag-text section-description">#git</p>
                                                            </li> -->
                        </ul>
                        <h3 class="portfolio-name">
                            Street photography <br />Borders: Ideas, <br />Technologies,
                            Innovations
                        </h3>
                        <a href="https://www.instagram.com/gel.dla.dushy/" class="portfolio-link-button accent-red"
                            target="_blank">See
                            other</a>
                    </div>
                    <div class="portfolio-visual">
                        <picture>
                            <source
                                srcset="../img/imgprojects/street_photo.jpg 1x, ../img/imgprojects/street_photo.jpg 2x"
                                media="(min-width: 768px)" />
                            <source
                                srcset="../img/imgprojects/street_photo.jpg 1x, ../img/imgprojects/street_photo.jpg 2x"
                                media="(max-width: 767px)" />
                            <img class="portfolio-image" src="../img/imgprojects/street_photo.jpg" alt="Project 5"
                                loading="lazy" width="311" height="195" />
                        </picture>
                    </div>
                </li>
            </ul>
            <!-- Buttons js -->
            <div class="swiper-btn-wrapper">
                <button class="swiper-btn swiper-btn-prev project-swiper-left" type="button"
                    aria-label="Previous slide">
                    <svg class="swiper-btn-icon" width="24" height="24">
                        <use href="./img/portfolio-sprite.svg#icon-arrow-narrow-left"></use>
                    </svg>
                </button>
                <button class="swiper-btn swiper-btn-next project-swiper-right" type="button" aria-label="Next slide">
                    <svg class="swiper-btn-icon" width="24" height="24">
                        <use href="./img/portfolio-sprite.svg#icon-arrow-narrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>