<!-- <section class="section" id="reviews">
  <div class="reviews-container">
    <h2 class="reviews-header section-heading">REVIEWS</h2>

    <div class="swiper reviews-swiper-container">
      <ul class="reviews-list swiper-wrapper reviews-swiper-wrapper"></ul>
    </div>
    <div class="review-scroll-btns">
      <button
        class="scroll-btn reviews-swiper-left"
        type="button"
        aria-label="Previous slide"
      >
        <svg class="scroll-svg">
          <use href="./img/portfolio-sprite.svg#icon-arrow-narrow-left"></use>
        </svg>
      </button>
      <button
        class="scroll-btn reviews-swiper-right"
        type="button"
        aria-label="Next slide"
      >
        <svg class="scroll-svg">
          <use href="./img/portfolio-sprite.svg#icon-arrow-narrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section> -->