<section class="section" id="worktogether">
  <div class="footer container">
    <h2 class="footer-title">
      <picture class="title-image">
        <source srcset="
            ../img/svg/logo.jpg   1x,
            ../img/svg/logo.jpg 2x
          " media="(min-width: 1440px)" type="image/webp" />
        <source srcset="
            ../img/svg/logo.jpg    1x,
            ../img/svg/logo.jpg 2x
          " media="(max-width: 1139px)" type="image/webp" />
        <img src="../img/svg/logo.jpg" alt="Photo" width="70" height="70" />
      </picture>
      Let’s <span class="footer-span"> work</span> together
    </h2>
    <!-- <form class="submit-form submit-form-js">
      <div class="input-wrap">
        <div class="input-wrap-item">
          <input type="email" class="input" name="userEmail" id="user-email" placeholder="clients@gmail.com" />
          <span class="email-text-success">Success!</span>
          <span class="email-text-error">Invalid email, try again!</span>
        </div>
        <div class="input-wrap-item">
          <input type="text" class="input" name="userComments" id="user-comments" placeholder="comments"
            autocomplete="off" />
          <span class="comments-text-error">This field is required!</span>
        </div>
      </div>
      <button class="send-btn" type="submit">Send</button>
    </form> -->
    <address class="contacts">
      <ul class="contacts-list">
        <li class="mail">
          <a href="mailto:artem.karpus@gmail.com" class="mail-link">artem.karpus@gmail.com</a>
        </li>
        <li class="mail">
          <a href="tel:+48609589194" class="mail-link">+48 609 589 194</a>
        </li>
        <li class="hero-item">
          <a href="https://www.instagram.com/gel.dla.dushy/" class="social-link" title="Link to Instagram"
            target="_blank" rel="noopener noreferrer">IG</a>
        </li>
        <li class="hero-item">
          <a href="https://www.facebook.com/artem.donald" class="social-link" title="Link to Facebook" target="_blank"
            rel="noopener noreferrer">FB</a>
        </li>
        <li class="hero-item">
          <a href="https://www.youtube.com/channel/UCrPFE-xEy8RZSFHDDUM4aSg" class="social-link" title="Link to YouTube"
            target="_blank" rel="noopener noreferrer">YT</a>
        </li>
      </ul>
    </address>

    <!-- <div class="modal-worktogether">
      <div class="modal-window">
        <button type="button" class="modal-window-btn">
          <img src="./img/svg/menu-close.svg" width="24" height="24" alt="close-button" />
        </button>
      </div>
    </div> -->
  </div>
</section>