*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #FAFAFA;
  letter-spacing: -0.02em;
  background-color: #1C1D20;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li,
ol li {
  list-style-type: none;
}


a {
  color: currentColor;
  text-decoration: none;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
  color: #ED3B44;
}
input {
  font-family: inherit;
}
fieldset {
  padding: 0;
  margin: 0;
  border: none;
}
html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px;
}

.section {
  padding-top: 32px;
  padding-bottom: 32px;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  .section {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 32px;
  }

  .section {
    padding-top: 82px;
    padding-bottom: 82px;
  }
}
