.hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  background-image: url('../img/imghero/hero1xred-mobile-min.webp');
}

@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: url('../img/imghero/hero2xred-mobile-min.webp');
  }
}

.hero-title {
font-family: Inter Tight;
  text-align: start;
  padding-top: 246px;
  padding-bottom: 212px;
  font-size: 50px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
  margin: 0 auto;

}

.hero-social {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 4px;
}

.mail {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  width: 223px;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fafafa;
}

.mail:hover,
.mail:focus,
.mail:active {
  border-color: #fafafa;
}

.mail-link {
  display: flex;
  min-width: 178px;
  min-height: 34px;
  justify-content: center;
  align-items: center;
}

.hero-social,
.hero-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.hero-social {
  flex-wrap: wrap;
}



.social-link:hover,
.social-link:focus,
.social-link:active {
  border-color: #fafafa;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 34px;
  min-height: 34px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fafafa;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
}



.mail-link:hover,
.mail-link:focus,
.mail-link:active {
  border-color: #fafafa;
}

.mail-link {
  display: flex;
  padding-left: 12px;
  padding-right: 10px;
  min-width: 178px;
  min-height: 34px;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fafafa;
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: url('../img/imghero/hero1xred-tablet-min.webp');
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: url('../img/imghero/hero2xred-tablet-min.webp');
    }
  }

  .hero-title {
    padding-top: 188px;
    padding-bottom: 187px;
    font-size: 90px;
  }

  .hero-social {
    justify-content: end;
  }

  .social-link {
    min-width: 55px;
    min-height: 55px;
  }

  .mail-link {
    min-width: 223px;
    min-height: 55px;
    padding-left: 18px;
    padding-right: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    background-image: url('../img/imghero/hero1xred-desktop-min.webp');
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: url('../img/imghero/hero2xred-desktop-min.webp');
    }
  }

  .hero-title {
    padding-top: 188px;
    padding-bottom: 243px;
    width: 1140px;
  }
}

